<div class="row" style="text-align: center; padding-top: 50px">
	<a href="/statistics?period=daily&id=<%= @id %>"   class="<%= if @period == 'daily' then 'btn-primary' else '' end %> btn">Daily</a>
	<a href="/statistics?period=monthly&id=<%= @id %>" class="<%= if @period == 'monthly' then 'btn-primary' else '' end %> btn">Monthly</a>
	<a href="/statistics?period=yearly&id=<%= @id %>"  class="<%= if @period == 'yearly' then 'btn-primary' else '' end %> btn">Yearly</a>
	
	<h3> Statistics</h3>
</div>

<div class="btn-group">
	<a class="btn dropdown-toggle" data-toggle="dropdown"> 
		<%= @sensors.find { |s| s['id'] = @id}['name'] %>
		<span class="caret"></span>
    </a>
	
    <ul class="dropdown-menu">
		<% @sensors.each do |sensor| %>
			<a style="margin-left: 10px"href="/statistics?period=daily&id=<%= sensor['id'] %>" > <%= sensor['name'] %> </a>
			<br />
		<% end %>
    </ul>

</div>

<div class="row" style="padding-top: 10px">
	<div>
		<div class="row" style="text-align: center">
			<div class="span8">
				<canvas id="TemperatureLineChart" ></canvas>
			</div>

		<div class="span8">
			<canvas id="HumidityLineChart" ></canvas>
		</div>
    </div>
</div>

<script type="text/javascript">
	var randomScalingFactor = function() {
		return Math.round(Math.random() * 100);
    };

	window.chartColors = {
		red: 'rgb(255, 99, 132)',
		orange: 'rgb(255, 159, 64)',
		yellow: 'rgb(255, 205, 86)',
		green: 'rgb(75, 192, 192)',
		blue: 'rgb(54, 162, 235)',
		purple: 'rgb(153, 102, 255)',
		grey: 'rgb(201, 203, 207)'
    };

	var HOURS = new Array( <%= @sensorData.first['dataPoints'].map{ |point| point['time'] }.join(", ") %>);

    window.onload = function() {
		var configTemperature = {
        type: 'line',
        data: {
			labels: HOURS,
            datasets: [
				<% @sensorData.each do |unit| %>
				{
					label: '',
					fill: false,
					backgroundColor: window.chartColors.blue,
					borderColor: window.chartColors.blue,
					
					data: [
						<% unit['dataPoints'].each do |point| %>
						{
							y: <%= point['temp'] %>,
							x: <%= point['time'] %>
						},
						<% end %>
					],
				},
				<% end %>
			]
        },
        options: {
			responsive: true,
            title: {
				display: true,
                text: 'Temperature'
            },
			
            tooltips: {
				mode: 'index',
                intersect: false,
            },
			
            hover: {
				mode: 'nearest',
                intersect: true,
            },
			
            scales: {
				xAxes: [{
					display: true,
				}],
                yAxes: [{
					display: true,
					scaleLabel: {
						display: true,
						labelString: 'Temperature'
					}
                }]
            }
        }
    };

    var configHumidity = {
        type: 'line',
        data: {
			labels: HOURS,
            datasets: [
				<% @sensorData.each do |unit| %>
				{
					label: '',
					fill: false,
					backgroundColor: window.chartColors.purple,
					borderColor: window.chartColors.purple,
					
					data: [
						<% unit['dataPoints'].each do |point| %>
						{
							y: <%= point['hum'] %>,
							x: <%= point['time'] %>
						},
						<% end %>
					],
				},
				<% end %>
			]
        },
        options: {
			responsive: true,
            title: {
				display: true,
                text: 'Humidity'
            },
			
            tooltips: {
				mode: 'index',
                intersect: false,
            },
			
            hover: {
				mode: 'nearest',
                intersect: true,
            },
			
            scales: {
				xAxes: [{
					display: true,
				}],
                yAxes: [{
					display: true,
					scaleLabel: {
						display: true,
						labelString: 'Humidity'
					}
                }]
            }
        }
    };

      window.myLine = new Chart(document.getElementById('TemperatureLineChart').getContext('2d'), configTemperature);
      window.myLine = new Chart(document.getElementById('HumidityLineChart').getContext('2d'), configHumidity);
    }
  </script>

</div>
